<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<h2>edit Book</h2>

<%= form_for @user do |f| %>
<%= f.text_field :first_name, placeholder: "First Name" %><br>
<%= f.text_field :last_name, placeholder: "Last Name" %><br>
<%= f.text_field :age, placeholder: "Age" %><br>
<%= f.submit 'Update' %><br>
<br>
<% end %>
